<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<title>%- subject %></title>
<body>
Name: <%- name %>
<br>
Email: <%- email %>
<br>
Phone: <%- phone %>
<br>
Website: <%- website %>
<br>
Message: <%- message %>
</body>
</head>
</html>
