<!doctype html>
<html lang="en-US" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="application">
	<head>
    <title><%- title %></title>

    <meta charset="utf-8"/>
    <meta name="description" content="California based web designer and developer with over a decade of professional experience in the web industry."/>
    <meta name="author" content="Isaac T. Wooten - Levid Media, LLC"/>
    <meta name="keywords" content="web, web design, web site, design portfolio, portfolio, web developer, developer, mobile app developer, application developer, isaac wooten, wooten, isaac t. wooten, levid, node.js, sails.js, angular.js, d3.js, socket.io, mongo db, coffeescript, web designer, full-stack developer"/>
    <meta http-equiv="Content-Type" content="text/plain;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--[if lte IE 7]><script src="/js/lte-ie7.js"></script><![endif]-->
    <!--[if lte IE 8]> <script src="/js/vendor/angular-ui-ie-shiv.js"></script><![endif]-->

    <!--[if lte IE 8]>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
    <![endif]-->


    <!-- <- assets.css() %> -->

    <link rel="stylesheet" href="/assets/styles/application.css">
    <link rel="stylesheet" href="/assets/styles/vendor/bootstrap.css">
    <link rel="stylesheet" href="/assets/styles/vendor/chosen.css">


    <link rel="stylesheet" href="/assets/styles/media-queries.css">

	</head>
  <body>
    <div id="loading-block">
      <div class="spinner"></div>
    </div>
    <div class="logo-preload"></div>
    <div class="navbar-shim"></div>
    <div class="bg-image"></div>
    <div class="bg-temp"></div>
    <div id="wrapper" class="border all">
      <%- partial('header')%>
      <%- partial('body')%>
      <%- partial('footer')%>

      <!-- Templates from your view path are included here -->
      <%- assets.templateLibrary() %>
    </div>

    <%- partial('footer-mobile')%>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41073550-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script type="text/javascript" src="/js/vendor/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/vendor/angular.min.js"></script>


    <script type="text/javascript" src="/js/vendor/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery-migrate-git.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.shuffleLetters.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.waitforimages.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery-tiny-pubsub.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.jgrowl.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.infinitescroll.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.columnizer.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/js/vendor/spin.min.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/js/vendor/waypoints.min.js"></script>

    <script type="text/javascript" src="/js/vendor/d3.v3.js"></script>
    <script type="text/javascript" src="/js/vendor/socket.io.min.js"></script>

    <script type="text/javascript" src="/js/vendor/angular-cookies.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-resource.js"></script>
    <script type="text/javascript" src="/js/vendor/angular-sanitize.js"></script>
    <script type="text/javascript" src="/js/vendor/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="/js/vendor/ace/ace.js"></script>
    <script type="text/javascript" src="/js/vendor/mobile-detect.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery.ba-bbq.min.js"></script>

    <%- assets.js() %>

	</body>
</html>
